.main
{
height: 100%;
margin: 0; 
padding: 10px; 
font-family:"Segoe UI Light",Tahoma,Arial,Verdana,sans-serif;
font-size:16px;
}



section.room
{
vertical-align: top;
align: middle;
background-color: orange;
display: inline-block;
padding: 10px;
margin: 10px;
width: 150px;
height: 1000px;
}


.room-name
{
font-family:"Segoe UI Semibold", "Segoe UI Light",Tahoma,Arial,Verdana,sans-serif;
text-align: center;
font-size:24px;
background-color: #FF3300;
padding: 10px 0px 10px 0px;
}



.room-booking
{
padding: 0px;
margin: -5px;
font-size:16px;
list-style: none;
}

.room-booking li
{
overflow:hidden;
align: left;
background-color: #FF6600;
padding: 5px;
margin: 10px;
width: 130px;
list-style: none;
}



